<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Resumen
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  @if (datos.enviado()) {
    <ion-card>
      <ion-card-header>
        <ion-card-title>
          Hola, {{ datos.nombre() }}, de la ciudad {{datos.ciudad()}}
        </ion-card-title>
      </ion-card-header>

      <ion-card-content>
        <p>
          El valor que enviaste es:
        </p>
        <h1>{{datos.contador()}}</h1>
        <p> Tu edad es: {{datos.edad()}}</p>
      </ion-card-content>
    </ion-card>
  }@else {
    <p>Primero ingresa tus datos y pulsa "Enviar resumen".</p>
  }
</ion-content>
