<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Datos
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-item>
    <ion-input 
      label="Nombre"
      labelPlacement="stacked"
      placeholder="Escribe tu nombre"
      [(ngModel)]="nombre">
      
    </ion-input>
  </ion-item>

  <ion-item>
    <ion-input 
      label="Ciudad"
      labelPlacement="stacked"
      placeholder="Escribe tu ciudad"
      [(ngModel)]="ciudad">   
    </ion-input>
  </ion-item>
  
  <div style="text-align: center; margin-top: 30px;">
    <h2>Contador Toa 😼</h2>
    <h1 style="font-size: 64px;">{{contador}}</h1>
    
    <ion-button 
      color="danger",
      [disabled]="contador==0"
      (click)="disminuir()">
       - Disminuir -
    </ion-button>
    <ion-button (click)="aumentar()">
       - Aumentar -
    </ion-button>
    <ion-button 
      expand="block"
      color="medium",
      (click)="reiniciar()">
       - Reiniciar -
    </ion-button>
  </div>
  <div style="text-align: center; margin-top: 30px;">
    <h2>Edad 😼</h2>
    <h1 style="font-size: 64px;">{{edad}}</h1>
    
    <ion-button 
      color="danger",
      [disabled]="edad==0"
      (click)="disminuir2()">
       - Disminuir -
    </ion-button>
    <ion-button (click)="aumentar2()">
       - Aumentar -
    </ion-button>
    <ion-button 
      expand="block"
      color="medium",
      (click)="reiniciar2()">
       - Reiniciar -
    </ion-button>
  </div>
  <p role="alert">{{ mensaje }}</p>
  <ion-button expand="block" (click)="enviar()">
    Enviar al resumen
  </ion-button>

</ion-content>
